<h1>{{title}}</h1>
<p>Hello, {{username}}</p>
<p>Welcome to {{title}}</p>
{{!-- input para enviar mensajes al servidor --}}
<input id="message" type="text" />
{{!-- lista de mensajes de websocket --}}
<ul id="messages" class="list-group">
</ul>
<script src="js/index.js"></script>